* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-visual {
    height: 400px;
	width: 100%;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}
.main-visual-name {
	padding: 20px;
	margin-top: 0;
}

main {
	width: 840px;
    margin: 50px auto;
}
.item {
	padding-bottom: 30px;
	border-bottom: 1px solid #6c6b6b;
	margin-bottom: 30px;
}