/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: #fff;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	margin: 18px;
	color: #000;
}
.flash {
	color: #008000;
}
.error_message {
    border: 2px solid #f00;
    width: 500px;
    height: 150px;
    background-color: #EEEEEE;
    margin-bottom: 15px;
    display: block;
}
.error-head {
    color: #fff;
    background-color: #BB0000;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 0px;
    padding: 2px 2px 2px 15px;
}
.error_message li {
	width: 350px;
	margin: 0 auto;
	text-align: left;
}
ul {
	padding-top: 20px;
	padding-inline-start: 0px;
}
.field_with_errors {
	display: inline-block;
	background-color: #f00;
	padding: 2px;
}
