<div class="container">
  <div class="row">
    <%= render "books/user_bookNew", book: @book %>

    <div class="col-xs-9">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td>user_image</td>
              <td>
                <div class="btn1">
                  <%= link_to book.title, book_path(book) %>
                </div>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>